<div class="text-center">
<h1 class="text-center border-bottom", style="font-size:80px;">サインアップ</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mail">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40" %>
  </div>

  <div class="field mail">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :size=>"40" %>
  </div>

  <div class="field mail">
    <%= f.label :パスワード %>
    <em>(確認用)</em><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"40" %>
  </div>

  <div class="actions">
    <%= f.submit "サインアップ" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>